@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #292C34;
}

header {
    background: white;
    text-align: center;
    padding: 10px;
}

.score-board {
    margin: 20px auto;
    padding: 15px 20px;
    border: 3px solid white;
    border-radius: 4px;
    width: 250px;
    color: white;
    font-size: 46px;
    text-align: center;
    font-family: Asap, sans-serif;
    position: relative;
    background-color: #F6BD4A;
}

.score {
    color: #292C33;
    text-align: center;
    margin: 30px;
}

.badge {
    padding: 2px 10px;
    background: #E2584D;
    color: white;
    font-size: 35px;
    font-family: Asap, sans-serif;
}

#user-label {
    position: absolute;
    top: 30%;
    left: -20%;
}

#bot-label {
    position: absolute;
    top: 30%;
    right: -20%;
}

.result > p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.action {
    margin: 10px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: Asap, sans-serif;
    position: relative;
    transition: all 0.3s ease;
    background-color: #63BDBA;
}

.action:hover {
    cursor: pointer;
    background-color: #E2584D;
}

.choices {
    position: relative;
    text-align: center;
}

.choice-you {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 10px -100px;
    transition: all 0.3s ease;
}

.choice-you > img {
    height: 50%;
    width: 50%;
    margin-right: 10px;
}

.choice-you > p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #A5E380;
}

.choice-you:hover {
    cursor: pointer;
}

.choice-bot {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 10px -100px;
    /*z-index: 1;*/
}

.choice-bot > img {
    height: 50%;
    width: 50%;
}

.choice-bot > p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #4C67DD;
}

header > .author {
    position: sticky;
    padding: 0px;
    text-align: center;
    background: white;
    width: auto;
    height: auto;
    font-family: Asap, sans-serif;
    font-weight: bold;
}

.onoffswitch {
    position: relative; width: 160px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin: 20px auto;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Make your move";
    padding-left: 10px;
    background-color: #63BDBA; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Click to start";
    padding-right: 10px;
    background-color: #E2584D; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: 10px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 119px;
    border: 2px solid #999999; border-radius: 50%;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
